<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>© 2024 - <a href="mailto:mauricio.moreira@unichristus.edu.br" target="_blank">Prof. Maurício M. Neto</a></p>
            </div>
        </div>
    </div>
</footer>